section {
  padding: 2rem 4rem;
}

.hero {
  height: 500px;
  padding-top: 100px;
  padding-bottom: 0;
}

.description {
  height: 100%;
}

/* .description{
  margin-left: 40px;
  padding-left: 4px;
  border-left: 1px solid #ccc;
}
.picture{
  margin-right: 40px;
  padding-right: 4px;
  border-right: 1px solid #ccc;
} */

.picture {
  position: relative;
  width: 350px;
  min-width: 350px;
  height: 350px;
  max-height: 350px;
  margin-top: 20px;
  border-right: 1.5px solid;
  border-bottom: 1.5px solid;
}

.picture img {
  position: absolute;
  top: -20px;
  left: -20px;
  width: max-content;
  height: max-content;
  object-fit: cover;
  box-shadow: 2px 2px 5px var(--foreground-color);
}

/* ***** Exceptional ********** */

.responsivity {
  padding: 15px;
  border: 1px solid;
  gap: 20px;
}
.responsivity hr {
  border-color: var(--foreground-color);
}
.responsivity div {
  height: max-content;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.r-top video {
  width: 49%;
  height: auto;
}
.r-bottom video {
  width: 32%  ;
  height: auto;
}

/****** Skills ***/

.r-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px 15px;
  border: 1px solid var(--foreground-color);
  border-radius: 2px;

  height: 330px;
  overflow-x: hidden;
}

.r-card::-webkit-scrollbar {
  width: 1px;
}

.r-card h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2px;
  border-bottom: 1px solid #aaa;
}

.r-card ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 7px;
  font-weight: 500;
}

.tech {
  height: 300px;
}

.tech li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.tech li img {
  width: 35px;
  height: 35px;
}

.s-tech {
  width: 100%;
  height: 100%;
  border: 1px solid var(--foreground-color);
}

li.purple {
  color: var(--purple);
}

li.blue {
  color: var(--blue);
}

li.gray {
  color: var(--gray);
}

.w-100 {
  width: 100%;
}

/*** Works ****/
.project {
  display: flex;
  height: 300px;
  padding: 10px;
  border: 1px solid;
}

.project-70 {
  width: 70%;
  gap: 20px;
}

.project-30 {
  width: 30%;
  flex-direction: column;
  gap: 10px;
}

.p-title {
  font-size: 1.4rem;
}

.project-70 .project-img {
  width: 40%;
  min-width: 500px;
}

.project-30 .project-img {
  width: 100%;
}

.project-img {
  height: 100%;
  overflow: hidden;
  /* border:  2px solid var(--foreground-color); */
  box-shadow: 0 0 4px #00000055;
  border-radius: 4px;
}

.project-img img,
.project-img video {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  /* display: none; */
}

@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1200px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .picture {
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 300px;
    max-height: 300px;
    margin-top: 40px;
  }

  .r-bottom video {
    width: 31.5%  ;
  }

  .projects {
    flex-direction: column;
  }

  .project {
    width: 100%;
  }

  .project-30 {
    flex-direction: row;
  }

  .project-30 .project-img {
    width: max-content;
  }
}

@media screen and (max-width: 924px) {
  section {
    padding: 1.5rem 2rem;
  }

  .hero {
    padding-top: 40px;
    flex-direction: column;
    height: auto;
    padding-top: 70px;
    padding-bottom: 0;
    gap: 35px;
  }

  .picture {
    justify-content: center;
    margin: 20px auto 0 auto;
  }

  .picture img {
    height: auto;
  }

  .responsivity {
    padding: 15px;
    gap: 10px;
  }
  .responsivity div {
    gap: 10px;
  }

  .r-top video, .r-bottom video, .carousel-container {
    width: 48.5%  ;
  }
  .r-bottom {
    height: max-content;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .r-card {
    width: 48%;
    gap: 2px;
    padding: 10px 5px;

    height: 330px;
    overflow-x: hidden;
  }

  .r-card h4 {
    font-size: 1.1rem;
    margin-bottom: 2px;
  }

  .r-card ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 7px;
    font-weight: 500;
  }

  .p-grid,
  .projects {
    gap: 25px;
  }

  .project {
    flex-direction: column;
    height: auto;
  }

  .project-70,
  .project-30 {
    width: 100%;
  }
  .project-30 .project-img {
    max-height: 300px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-img,
  .project-img video {
    width: 100%;
    min-width: 100% !important;
    max-width: 100px !important;
  }

  .project-img {
    max-width: 100%;
  }

  .project-img video {
    width: 100% !important;
  }
}

@media screen and (max-width: 650px) {
  section {
    padding: 1.8rem 1.5rem;
  }

  .picture {
    width: 300px;
    min-width: 300px;
    height: 300px;
    max-height: 300px;
  }

  .project-30 .project-img {
    max-height: 200px;
    object-fit: cover;
  }

  .skills,
  .techs {
    flex-direction: column;
    padding-top: 15px;
    gap: 20px;
  }

  .r-card {
    width: 100%;
    height: 100%;
  }

  .tech {
    height: auto;
  }

  .description {
    gap: 8px;
  }

  .tb-see-more {
    margin: 0 auto;
    margin-top: 5px;
  }
  .see-more {
    padding-top: 5px 7px;
  }
}

@media screen and (max-width: 450px) {
  .picture {
    width: 250px;
    min-width: 250px;
    height: 250px;
    max-height: 250px;
  }
  .responsivity {
    padding: 10px;
    gap: 10px;
  }
  .responsivity div {
    width: 100%;
    gap: 15px;
  }

  .r-top video, .r-bottom video {
    width: 100% ;
  }
  .r-top {
    height: max-content;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 370px) {
  .picture {
    margin: 20px auto 0 20px;
  }
}
