:root{
  --tb-padding-x: 15px;
  --tb-padding-y: 15px;
  --tb-padding-x-sm: 10px;
  --tb-padding-y-sm: 10px;
}


.t-bborder-left {
  min-width: 100%;
  width: 100%;
  border-left: var(--bborder-width) solid var(--foreground-color);
}

.t-bborder {
  padding-right: var(--tb-padding-x);
  min-width: 100%;
}

.t-bborder-top {
  width: 100%;
  padding-left: var(--tb-padding-x);
  border-top: var(--bborder-width) solid var(--foreground-color);
}

.t-bborder-right {
  padding-top: var(--tb-padding-y);
  border-right: var(--bborder-width) solid var(--foreground-color);
}

.navbar .t-bborder-right {
  padding-top: 28px;
  border-right: var(--bborder-width) solid var(--foreground-color);
}

.t-bborder-bottom {
  min-width: calc(100% + var(--tb-padding-x) + 3px);
  min-height: var(--tb-padding-y);
  background-color: var(--background-color);
  padding-bottom: var(--tb-padding-y);
  border-top: var(--bborder-width) solid var(--foreground-color);
  overflow: hidden;
}

.navbar .t-bborder-bottom{
  background-color: transparent;
}



@media screen and (max-width: 650px){

  .t-bborder-left {
    border-left: var(--bborder-width) solid var(--foreground-color);
  }
  
  .t-bborder {
    padding-right: var(--tb-padding-x-sm);
  }
  
  .t-bborder-top {
    padding-left: var(--tb-padding-x-sm);
  }
  
  .t-bborder-right {
    padding-top: 15px;
    border-right: var(--bborder-width) solid var(--foreground-color);
  }
  
  .t-bborder-bottom {
    min-width: calc(100% + var(--tb-padding-x-sm));
    min-height: var(--tb-padding-y-sm);
    padding-bottom: var(--tb-padding-y-sm);
  }
}