@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --bborder-width : 1px;
  --bborder-padding : 1rem
}

.bborder-left{
  min-width: 100%;
  width: 100%;
  border-left: var(--bborder-width) solid black;  
}

.bborder{
  padding-right: var(--bborder-padding);
}

.bborder-top{
  width: 100%;
  padding-left: var(--bborder-padding);
  border-top: var(--bborder-width) solid black;
}
.bborder-right{
  padding-top: var(--bborder-padding);
  border-right: var(--bborder-width) solid black;
}
.bborder-bottom{
  min-width: calc(100% + var(--bborder-padding));
  min-height: var(--bborder-padding);
  background-color: white;
  padding-bottom: var(--bborder-padding);
  border-top: var(--bborder-width) solid black;
  overflow: hidden;
}